<a href="https://colab.research.google.com/github/MeSamiulIslam/Msc/blob/main/Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd                                # Safe to import all libararies at first
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

import warnings as wr
wr.filterwarnings('ignore')

In [8]:
url = "https://raw.githubusercontent.com/MeSamiulIslam/Msc/main/insurance.csv"
df = pd.read_csv(url)

In [5]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
df.count()

age         1338
sex         1338
bmi         1338
children    1338
smoker      1338
region      1338
charges     1338
dtype: int64

In [9]:
df.shape

(1338, 7)

In [10]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
df0 = df.copy()                      # We make upto 10 copies bcz after encoding, the dataframe will change.
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()
df7 = df.copy()
df8 = df.copy()
df9 = df.copy()
df9 = df.copy()
df10 = df.copy()

#Label Encoding

In [12]:
from sklearn.preprocessing import LabelEncoder       #Importing LabelEncoder from scikit learn library.
le = LabelEncoder()                                  #Creating an object for LabelEncoder()

In [13]:
'''Label Encoding the 'sex' column in df DataFrame and it contains string type value(categorical-Dichotomous),
#so it needs to be encoded.'''

df.sex = le.fit_transform(df[['sex']])

In [14]:
df.head(7)

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520
5   31    0  25.740         0     no  southeast   3756.62160
6   46    0  33.440         1     no  southeast   8240.58960

In [15]:
#'age' and 'bmi' columns contain numeric type of data,So it does not need to be encoded. After encoding the 'sex' column, 
#Now the 'smoker' column will be encoded because it contains yes/no type value(Categorical-Dichotomous variable)

df.smoker = le.fit_transform(df[['smoker']])

In [16]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [17]:
df.region = le.fit_transform(df[['region']])    # The region column contains Categorical-Nominal variable so encoding required.

In [18]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [20]:
df0.head() #another data frame df0

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [21]:
from pandas.core.dtypes.common import is_numeric_dtype     #importing is_numeric_dtype from pandas library.

In [22]:
#Loop

for col in df0.columns:                          # for each column among the columns of df0 DataFrame
    if is_numeric_dtype(df0[col]):               # if that specific column of df0 is of numeric type,then continue   
        continue
    else:
        df0[col] = le.fit_transform(df0[col])    # If the values of that column is not numeric, then LabelEncode that column
                                                 # After encoding, put the new encoded column replacing the old one.

In [23]:
df0.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [24]:
df0.region.value_counts()          # (364+325+325+324 = 1338 rows)

2    364
3    325
1    325
0    324
Name: region, dtype: int64

In [25]:
df1.region.value_counts()          # Indexing of (southeast = 2, southwest = 3, northwest = 1, northeast = 0)

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

#One Hot Encoding

In [26]:
dummy0 = pd.get_dummies(df1.sex, drop_first = True, prefix = 'sex')     

# Creating dummy variables from unique values of 'sex' column that is, 'female','male' - 2 separate columns will be created.
# After getting dummy variables and their respective column, drop the first column so,between 2 columns only one column remains.
# prefix = 'sex', so it will appear as, sex_male, sex_female.

In [27]:
dummy0.head()       # Female column has been dropped.

   sex_male
0         0
1         1
2         1
3         1
4         1

In [28]:
df1.drop('sex', axis = 1, inplace = True)      # Older 'sex' column is of no use, so it is dropped from df1 
                                            # inplace = True means, we are dropping the older'sex' column from df1 permanently.

In [29]:
df1.head()

   age     bmi  children smoker     region      charges
0   19  27.900         0    yes  southwest  16884.92400
1   18  33.770         1     no  southeast   1725.55230
2   28  33.000         3     no  southeast   4449.46200
3   33  22.705         0     no  northwest  21984.47061
4   32  28.880         0     no  northwest   3866.85520

In [30]:
# The new dummy variable column added with df1 from which older 'sex' column has been deleted.
# concat means adding.

df1 = pd.concat([df1, dummy0], axis = 1)

In [31]:
df1.head()

   age     bmi  children smoker     region      charges  sex_male
0   19  27.900         0    yes  southwest  16884.92400         0
1   18  33.770         1     no  southeast   1725.55230         1
2   28  33.000         3     no  southeast   4449.46200         1
3   33  22.705         0     no  northwest  21984.47061         1
4   32  28.880         0     no  northwest   3866.85520         1

In [32]:
# Getting dummy variables from 'smoker' column means, smoker_no, smoker_yes, Dropping the first column between two columns.

dummy1 = pd.get_dummies(df1.smoker,drop_first=True,prefix = 'smoker')

In [33]:
dummy1.head()

   smoker_yes
0           1
1           0
2           0
3           0
4           0

In [36]:
df1.head()

   age     bmi  children     region      charges  sex_male
0   19  27.900         0  southwest  16884.92400         0
1   18  33.770         1  southeast   1725.55230         1
2   28  33.000         3  southeast   4449.46200         1
3   33  22.705         0  northwest  21984.47061         1
4   32  28.880         0  northwest   3866.85520         1

In [35]:
df1.drop('smoker', axis = 1, inplace = True)    # Deleting older'smoker' column permanently bcz of no use of it.

In [37]:
df1.head()

   age     bmi  children     region      charges  sex_male
0   19  27.900         0  southwest  16884.92400         0
1   18  33.770         1  southeast   1725.55230         1
2   28  33.000         3  southeast   4449.46200         1
3   33  22.705         0  northwest  21984.47061         1
4   32  28.880         0  northwest   3866.85520         1

In [38]:
df1 = pd.concat([df1,dummy1], axis = 1)       # Adding the dummy variables column with df1 from which 'smoker' column deleted.

In [39]:
df1.head()

   age     bmi  children     region      charges  sex_male  smoker_yes
0   19  27.900         0  southwest  16884.92400         0           1
1   18  33.770         1  southeast   1725.55230         1           0
2   28  33.000         3  southeast   4449.46200         1           0
3   33  22.705         0  northwest  21984.47061         1           0
4   32  28.880         0  northwest   3866.85520         1           0

In [40]:
dummy2 = pd.get_dummies(df1.region, drop_first = True, prefix = 'region') #Getting dummies from 'region' column.

In [41]:
dummy2.head()

   region_northwest  region_southeast  region_southwest
0                 0                 0                 1
1                 0                 1                 0
2                 0                 1                 0
3                 1                 0                 0
4                 1                 0                 0

In [42]:
df1.drop('region', axis = 1, inplace = True)   #Dropping the older 'region' column permanently.
df1.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [43]:
df1 = pd.concat([df1, dummy2], axis = 1)     # Adding df1 separated from older 'region' column and dummy2 variables columns.

In [44]:
df1.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

#Ordinal Encoder

In [54]:
df5.head()

   age  sex     bmi  children smoker     region      charges
0   19  0.0  27.900         0    yes  southwest  16884.92400
1   18  1.0  33.770         1     no  southeast   1725.55230
2   28  1.0  33.000         3     no  southeast   4449.46200
3   33  1.0  22.705         0     no  northwest  21984.47061
4   32  1.0  28.880         0     no  northwest   3866.85520

In [55]:
from sklearn.preprocessing import OrdinalEncoder

In [56]:
order0 = df5.sex.unique()          #'order0' variable contains the unique values of 'sex' column and we can set the order.
order0                             #order0 = ['male','female']

array([0., 1.])

In [57]:
ordinal = OrdinalEncoder(categories=[order0])      # Creating an object for OrdinalEncoder.

In [58]:
ordinal                           # By default sequence, 'female' is first, and 'male' second.

OrdinalEncoder(categories=[array([0., 1.])])

In [59]:
encoded = ordinal.fit_transform(df5[['sex']])    #Ordinal encoding is done on 'sex' column and kept inside 'encoded' variable.

In [60]:
encoded

array([[0.],
       [1.],
       [1.],
       ...,
       [0.],
       [0.],
       [0.]])

In [61]:
df5.sex = encoded      # The values of encoded will replace the 'sex' column of df5.

In [62]:
df5.head()

   age  sex     bmi  children smoker     region      charges
0   19  0.0  27.900         0    yes  southwest  16884.92400
1   18  1.0  33.770         1     no  southeast   1725.55230
2   28  1.0  33.000         3     no  southeast   4449.46200
3   33  1.0  22.705         0     no  northwest  21984.47061
4   32  1.0  28.880         0     no  northwest   3866.85520

In [63]:
order1 = ['no','yes']
order1

['no', 'yes']

In [64]:
ordinal = OrdinalEncoder(categories=[order1])

In [65]:
encoded1 = ordinal.fit_transform(df9[['smoker']])
encoded1

array([[1.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [1.]])

In [66]:
df5.smoker = encoded1

In [67]:
df5.head()

   age  sex     bmi  children  smoker     region      charges
0   19  0.0  27.900         0     1.0  southwest  16884.92400
1   18  1.0  33.770         1     0.0  southeast   1725.55230
2   28  1.0  33.000         3     0.0  southeast   4449.46200
3   33  1.0  22.705         0     0.0  northwest  21984.47061
4   32  1.0  28.880         0     0.0  northwest   3866.85520

In [68]:
order2 = df9.region.unique()
order2

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [69]:
ordinal2 = OrdinalEncoder(categories=[order2])
ordinal2

OrdinalEncoder(categories=[array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)])

In [70]:
encoded2 = ordinal2.fit_transform(df9[['region']])
encoded2

array([[0.],
       [1.],
       [1.],
       ...,
       [1.],
       [0.],
       [2.]])

In [71]:
df5.region = encoded2
df5.head(10)

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     1.0     0.0  16884.92400
1   18  1.0  33.770         1     0.0     1.0   1725.55230
2   28  1.0  33.000         3     0.0     1.0   4449.46200
3   33  1.0  22.705         0     0.0     2.0  21984.47061
4   32  1.0  28.880         0     0.0     2.0   3866.85520
5   31  0.0  25.740         0     0.0     1.0   3756.62160
6   46  0.0  33.440         1     0.0     1.0   8240.58960
7   37  0.0  27.740         3     0.0     2.0   7281.50560
8   37  1.0  29.830         2     0.0     3.0   6406.41070
9   60  0.0  25.840         0     0.0     2.0  28923.13692

#Replace without Encoding Techniques

In [72]:
df10.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [74]:
df10.region = df10.region.replace(['southwest','southeast','northwest','northeast'],[0,1,2,3])

In [75]:
df10.head()

   age     sex     bmi  children smoker  region      charges
0   19  female  27.900         0    yes       0  16884.92400
1   18    male  33.770         1     no       1   1725.55230
2   28    male  33.000         3     no       1   4449.46200
3   33    male  22.705         0     no       2  21984.47061
4   32    male  28.880         0     no       2   3866.85520